# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Build
build/
dist/
*.spec

# Code Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual Environments
env/
venv/
ENV/
.venv/

# User Data (Runtime generated)
userdata/
*.json

# Temporary
assets/icons/temp/

# Logs
*.log
